body {
    font-family: $inter;
    font-size: 14px;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, 
h2, h3
h4, h5, h6,
p {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.flex-center {
    @include dflex(center, center);
}

.flex-left {
    @include dflex(flex-start, center);
}

.flex-right {
    @include dflex(flex-end, center);
}