$inter: 'Inter', sans-serif;
$ibm: 'IBM Plex Serif', serif;

$lightDark: #363a3a;
$dark: #222626;
$blue: #1a91da;
$darkBlue: #057fca;
$white: #ffffff;
$black: #0f0f0f;
$red: #f33446;
$gray: #dadada;
$lightGray: #f1f1f1;
$darkGray: #474646;
$lightBlue: #d6eef8;
$lightRed: #fcf3da;

$purpleLinearGradient: linear-gradient(45deg, #683ab7d0, #db37d6d5);
